<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js Project</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<style>
    .canvas {
        height: 240px;
        width: 240px;
        background-color: orange;
    }
</style>


<body>

    <div id="app">
        <div class="canvas" @mousemove="over">
            {{log.x}} {{log.y}}
        </div>

        <input type="text" @keyup="NameChange">
        <input type="text" v-model="name">

        <ol>
            <li v-for="name in names">
                {{name}}
            </li>
        </ol>

        <ul>
            <li v-for="fruit in fruits">{{fruit.name}} color: {{fruit.color}}</li>
        </ul>

        <div id="kazi">

            <p v-if="boolvariable">BoolVariable is true!</p>
            <p v-if="age>=1">Has already been born</p>
            <p v-if="age>=20">Kind of an old man already</p>

            <button @click="Message">Click Here</button>
        </div>
        <h1>{{name}}</h1>
        <i>{{MyName()}}</i>
        <p>I earn {{dollar}}</p>
        <p>{{MyAge(12)}}</p>
        <a :href="website" target="_blank"> Main Website Here</a>
        <p :class="classess1">classess</p>


        <input type="text" :value="name">
        <br>
        <br>
        <button @click="Amount(6)"> {{6}} </button>
        <button @dblclick="dollar--"> -1 </button>
        <button @click.shift="message"> Click Me </button>
        <button @click.alt="message"> Click Me </button>

        <a href="https://github.com/" @click.prevent>Links</a>

    </div>

    <script src="app.js"></script>

</body>

<style>
    .one {
        color: orange,
    }

    .two {
        font-weight: bold;
    }
</style>

</html>